body{
    color: red;
    background-color: gray;
    font-family: sans-serif;
    font-size: 18px;
    margin: auto;
}

a{
    color: red;
}

header{
    height: 130px;
    background-color: black;
}

main{
    background: linear-gradient(90deg, black, white, black);
    width: 70%;
    text-align: center;
}

nav, main{
    float: left;
    min-height: 100px;
    padding: 20px;
}

nav{
    width: 24%;
}

aside, footer{
    text-align: right;
    margin-right: 20px;
    padding: 10px;
}

aside span {
    position: relative;
    animation: pasek 8s alternate infinite;
    }

@keyframes pasek {
    from {left:-500px;}
    to {left:0px;}
}

footer{
    clear: both;
}

ul > li{
    padding: 10px;
}

table{
    border: 1px solid white;
    margin: auto;
    width: 100%;
    height: 100%;
}

tr th{
    padding: 20px;
    color: red;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
}